body {
  margin: 0 !important;
  padding: 0;
  background-color: #ccc; }

.h1 {
  font-size: 30px;
  line-height:32px;
  font-weight: bold;
  color: $primary-color; }

.p {
  font-size: 12px;
  line-height: 17px;
  color: $primary-color; }
